<app-msg [message]="msg.message"></app-msg>

<div class="jumbotron text-center">
  <h1>Mood Marbles</h1>
  <p>Metodoligías agile</p>
</div>
<div class="container-fluid">
  <div *ngIf="!isEditing" class="row">
    <div class="col-sm-4">
      <br />
      <span class="fa fa-adjust logo slideanim"></span>
    </div>
    <div class="col-sm-8 ">
      <h5>
        Mood marbles es una metodología agile que pretende conocer el estado de
        animo de un equipo de trabajo por medio de su voto por una canica verde
        o roja.
      </h5>
      <div>
        <h4 style="font-weight: bold;">
          Cree una votación para aplicar la metodología con su equipo de
          trabajo.
        </h4>
      </div>
      <form [formGroup]="addPoolForm" (ngSubmit)="addPool()">
        <h4 style="color: #0080FF;">Ingrese el número de personas.</h4>
        <div class="form-group def-number-input number-input safari_only">
          <button
            type="button"
            onclick="this.parentNode.querySelector('.quantity').stepDown()"
            class="minus"
          ></button>
          <input
            class="quantity"
            min="1"
            name="totalPeople"
            formControlName="totalPeople"
            type="number"
          />
          <button
            type="button"
            class="plus"
            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
          ></button>
        </div>
        <div class="form-group">
          <h4>Ingrese el número de canicas.</h4>
          <div class="def-number-input number-input safari_only">
            <button
              type="button"
              onclick="this.parentNode.querySelector('.quantity').stepDown()"
              class="minus"
            ></button>
            <input
              class="quantity"
              min="1"
              name="marbles"
              type="number"
              formControlName="marbles"
            />
            <button
              type="button"
              onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
              class="plus"
            ></button>
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-outline-primary"
          [disabled]="!addPoolForm.valid"
        >
          <i></i>Crear
        </button>
      </form>
    </div>
  </div>
</div>

<div class="container-fluid text-center bg-light" id="Info">
  <h2>INFORMACIÓN DE VOTACIONES</h2>
  <h4>
    A continuación encontrará las votaciones realizadas con su respectiva fecha
    de creación y el código de la sesión.
  </h4>
  <div class="row slideanim">
    <div class="col-sm-4"></div>
    <div>
      <table class="table">
        <thead class="table table-hover">
          <tr>
            <th class="bg-primary" style="color: azure;" scope="col">Código</th>
            <th class="bg-primary" style="color: azure;" scope="col">Fecha</th>
            <th class="bg-primary" scope="col"></th>
            <th class="bg-primary" scope="col"></th>
          </tr>
        </thead>
        <tbody *ngIf="pools.length === 0">
          <tr>
            <td colspan="4">
              No ha creado ninguna votación. Agregue una a continuación.
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr *ngFor="let pool of pools">
            <td>{{ pool.code }}</td>
            <td>{{ pool.date }}</td>
            <td>
              <button
                (click)="showResults(pool)"
                class="btn btn-outline-primary"
              >
                Mostrar
              </button>
              <button
                (click)="deletePool(pool)"
                class="btn btn-outline-primary"
              >
                <i></i> Borrar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="_showResult" class="container-fluid text-center bg-light">
    <div>
      <div style="display: block">
        <canvas
          baseChart
          [colors]="barChartColors"
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType"
        >
        </canvas>
      </div>
      <button
        mat-button
        mat-raised-button
        class="btn btn-outline-primary"
        (click)="randomize()"
      >
        Actualizar
      </button>
    </div>
  </div>
  <div class="row slideanim">
    <div class="col-sm-4"></div>
    <div *ngIf="_showResult">
      <table>
        <thead class="table table-hover">
          <tr>
            <th class="bg-primary" style="color: azure;" scope="col">
              Usuario
            </th>
            <th class="bg-primary" style="color: azure;" scope="col">
              Canicas verdes
            </th>
            <th class="bg-primary" style="color: azure;" cope="col">
              Canicas rojas
            </th>
          </tr>
        </thead>
        <tbody *ngFor="let result of results">
          <td>{{ result.user }}</td>
          <td>{{ result.greenMarbles }}</td>
          <td>{{ result.redMarbles }}</td>
        </tbody>
      </table>
      <button class="btn btn-outline-primary" (click)="cancelResults()">
        <i></i> Ocultar
      </button>
    </div>
  </div>
</div>

<div class="container-fluid text-center" id="Info">
  <h2>INFORMACIÓN DE LA APLICACIÓN</h2>
  <h4>Información de los desarrolladores del aplicativo Mood Marbles</h4>
  <br />
  <div class="row slideanim">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <span class="fa fa-cloud logo-small"></span>
      <h4>IBM CLOUD</h4>
      <p>CLOUD FUTURE CLUB COLOMBIA 2020</p>
    </div>
  </div>
</div>
