<app-msg [message]="msg.message"></app-msg>

<div *ngIf="!hasCode">
  <h5>Inserte el código de sesión</h5>
  <form [formGroup]="codeForm" (ngSubmit)="setSessionCode()">
    <input
      class="form-control"
      type="text"
      name="code"
      id="code"
      formControlerName="code"
      placeholder="Código"
      autofocus
    />
    <button type="submit" class="btn btn-primary" [disabled]="!codeForm.valid">
      <i></i> Enviar
    </button>
  </form>
</div>
<div *ngIf="hasCode">
  <form [formGroup]="voteForm" (ngSubmit)="vote()">
    <div class="input-group" [ngClass]="setCode()">
      <input
        type="text"
        name="code"
        id="code"
        formControlerName="code"
        placeholder="Código"
        autofocus
      />
      <input
        type="number"
        name="grnMarbles"
        formControlName="grnMarbles"
        placeholder="Pepitas verdes"
        step="any"
        min="0"
      />
      <input
        type="number"
        name="redMarbles"
        formControlName="redMarbles"
        placeholder="Pepitas rojas"
        step="any"
        min="0"
      />
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!voteForm.valid"
      >
        <i></i> Votar
      </button>
    </div>
  </form>
</div>
