<app-msg [message]="msg.message"></app-msg>

<div>
  <h5>Inserte el código de sesión</h5>
  <form [formGroup]="voteForm" (ngSubmit)="_vote()">
    <div class="input-group" [ngClass]="setClassCode()">
      <input
        type="text"
        name="code"
        id="code"
        formControlName="code"
        placeholder="Código"
        autofocus
      />
      <input
        type="number"
        name="greenMarbles"
        id="greenMarbles"
        formControlName="greenMarbles"
        placeholder="Pepitas verdes"
        step="any"
        min="0"
      />
      <input
        type="number"
        name="redMarbles"
        id="redMarbles"
        formControlName="redMarbles"
        placeholder="Pepitas Rojas"
        step="any"
        min="0"
      />
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!voteForm.valid">
      <i></i> Votar
    </button>
  </form>
</div>
